{
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "no-inline-comments": 0,
    "spaced-comment": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}
